.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  align-self: center;
}

.dialog {
  /* padding-bottom: 10px; */
  margin: 10px;
  border: 1px solid;
}
.dialogItems {
  padding: 10px;
}
.messages {
  padding: 10px;
}
.message {
  margin: 10px;
  /* padding-bottom: 10px; */
  border: 1px solid black;
  border-radius: 5px;
  min-width: 50px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.image {
  width: 50px;
}

/* .textarea {
  height: 10px;
} */
